//--------------------------- Tiki CSS variables
.navbar-nav {
    --bs-navbar-color: rgba(255, 255, 255, 0.75);
}

@mixin top-nav-light { // Light and Dark are same in this theme.
    --tiki-top-bg: rgba(171,182,194,1);
    --tiki-top-color: var(--bs-navbar-color); // rgba(255, 255, 255, 0.75); //  #fff;
    --tiki-top-hover-color: var(--bs-navbar-hover-color); // #fff;
    --tiki-top-text-color:var(--tiki-top-color);
    --bs-navbar-brand-color: #{$navbar-light-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-light-brand-hover-color};
    --tiki-top-border: solid #333;
    --tiki-top-border-width: 0px 0px 1px 0px;
}

@mixin topbar-nav-light {
    --tiki-topbar-bg: rgba(171,182,194,1);
    --tiki-topbar-color: rgba(0, 0, 0, 0.65); //  #fff;
    --tiki-topbar-hover-color: var(--bs-navbar-hover-color); // #fff;
    --tiki-topbar-text-color:var(--tiki-topbar-color);
//    --tiki-topbar-bg: rgba(171, 182, 184, 1);
//    --tiki-topbar-color: rgba(0, 0, 0, 0.55); // rgba(0, 0, 0, 0.9);
//    --tiki-topbar-hover-color: rgba(0, 0, 0, 0.7);
}

@mixin top-nav-dark {
    --tiki-top-bg: rgb(32, 55, 76);
    --tiki-top-color: rgba(255, 255, 255, 0.75); //  #fff;
    --tiki-top-hover-color: #fff;
    --tiki-top-text-color: #fff;
    --bs-navbar-brand-color: #{$navbar-light-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-light-brand-hover-color};
}

@mixin topbar-nav-dark {
    --tiki-topbar-bg: #2C465E;
    --tiki-topbar-color: rgba(255, 255, 255, 0.75); // #fff;
    --tiki-topbar-hover-color: #fff;
    --tiki-topbar-text-color: #fff;
}

.tiki .tiki-top-nav-light {
    @include top-nav-light;
}

.tiki .tiki-topbar-nav-light {
    @include topbar-nav-light;
}

.tiki-top-nav-dark {
    @include top-nav-dark;
}

.tiki-topbar-nav-dark {
    @include topbar-nav-dark;
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // color mode
    .tiki-top-nav-light {                           // light top selector
        @include top-nav-dark;                      // dark values
    }
    .tiki-topbar-nav-light {
        @include topbar-nav-dark;
    }
}

// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // color mode
    .tiki-top-nav-dark {                           // dark top selector
        @include top-nav-dark;                      // light values
    }
    .tiki-topbar-nav-dark {
        @include topbar-nav-dark;
    }
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
@mixin admin-nav-light {
    --tiki-admin-top-nav-bg: #4e5d6c; // rgba(171, 182, 184, 1);
    --tiki-admin-top-nav-color: #fff; // rgba(0, 0, 0, 0.95); // rgba(0, 0, 0, 0.9);
    --tiki-admin-top-nav-hover-color: rgba(0, 0, 0, 0.7);
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg: #4e5d6c; // rgba(171, 182, 184, 1);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: rgba(255, 255, 255, 0.9);
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
    .was-nav-item.accordion-item.tips.right {
        border-width: 0 !important;
    }
    .accordion-item.search-preferences,
    button.was-nav-link.accordion-button {
        color: var(--tiki-admin-aside-nav-color) !important;
        background: var(--tiki-admin-aside-nav-bg) !important;
    }
}

// Dark navbar minus top nav
@mixin admin-nav-dark {
    --tiki-admin-top-nav-bg: rgb(32, 55, 76);
    --tiki-admin-top-nav-color: rgba(255, 255, 255, 0.75);
    --tiki-admin-top-nav-hover-color: #fff;
    --tiki-admin-top-nav-link-hover-bg: #{$navbar-dark-hover-color};
    --tiki-admin-aside-nav-bg: rgb(32, 55, 76);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #{$link-color};
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
    .accordion-item.search-preferences,
    button.was-nav-link.accordion-button {
        color: var(--tiki-admin-aside-nav-color) !important;
        background: var(--tiki-admin-aside-nav-bg) !important;
    }
    .accordion-item {
        border-color:  transparent; // var(--bs-accordion-border-color);
    }
}

// When color mode switch isn't active
:root {
    .tiki .tiki-admin-top-nav-light, // Legacy
    .tiki.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-light {
        @include admin-nav-light;
    }
    .tiki .tiki-admin-top-nav-dark,
    .tiki.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-dark {
        @include admin-nav-dark;
    }
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // dark color mode
    .tiki .tiki-admin-top-nav-light,
    .tiki.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-light {               // light top selectors
        @include admin-nav-dark;                      // dark values
    }
}
// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // light color mode
    .tiki .tiki-admin-top-nav-dark,
    .tiki.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-dark {                // dark top selectors
        @include admin-nav-dark;                      // dark values
    }
}

// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

.accordion {
    --bs-accordion-active-bg: #2C465E;
    --bs-accordion-active-color: #fff;
    --bs-accordion-btn-bg: #2B3E50;
    --bs-accordion-btn-color: #fff;
}