// Customisations needed for select2 in tiki with bootstrap 5
// This seems to be needed to separate the x and v icons better:
.tiki .select2-container--bootstrap-5 .select2-selection--single .select2-selection__clear,
.tiki .select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__clear {
    position: absolute;
    top: 50%;
    right: 2rem;
    height: 0.5rem;
    width: 0.5rem;
}

.tiki .select2-container--bootstrap-5 .select2-selection--single, .tiki .select2-container--default .select2-selection--multiple {
    @extend .form-control;
}

// Direct child of col or col- classes should be the width of the col (Ex: Available themes selector on tiki-admin.php?page=look
div[class^='col'] > .select2-container, div[class*=' col'] > .select2-container {
    display: block;
}
